<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositories</title>
</head>
<body>
    
    <div id="repositoryPageHeader">

        <div class="SearchPanel">
            <input type="search" class="SearchInput" placeholder="Type a name for search ...">
            <label class="WarningLable"></label>
        </div>

        <div class="PageNavigation">
        </div>

    </div>

    <div id="RepoList">
       
    </div>

    <div id="repositoryPageFooter">
        <div class="PageNavigation">
        </div>
    </div>

    <script type="module" src="../Scripts/pages/repoList.js"></script>

</body>
</html>