<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserList</title>
</head>
<body>
    
    <div id="UserList">
        this is a section to show userlist
    </div>

    <button onclick="searchUser()">searchUser1</button>
    <button onclick="searchUser2()">searchUser1</button>

    <script type="module" src="../Scripts/pages/userList.js"></script>
</body>
</html>