<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserList</title>
</head>
<body>
    
    <div id="userPageheader">

        <div id="userPageSearch">
            <input type="search" id="userNameSearchInput" placeholder="Type a name for search ...">
            <label id="userNameWarningLable"></label>
        </div>

        <div class="userPageNavigation">
        </div>

    </div>

    <div id="UserList">
       
    </div>

    <div id="userPagefooter">
        <div class="userPageNavigation">
        </div>
    </div>

    <script type="module" src="../Scripts/pages/userList.js"></script>
</body>
</html>