/* * {
    margin: 0 !important;
    padding: 0 !important;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFB74D;
}

a:hover {
    text-decoration: none;
    color: #FFE0B2;
}

#app {
     height: fit-content;
    /* background-color: red; */
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0D47A1;
    box-shadow: 2px 4px #888888;
    padding-bottom: 40px;
}

.app_header {
    height: 70px;
    width: 100%;
    background-color: #0D47A1;
    margin: 0;
    padding: 3px;
}

.app_header_title {
    color: #FAFAFA;
    font-size: large;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.app_header_menu li {
    display: inline-block;
    margin-right: 30px;
}

.app_footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height: max-content; 
    width: 100%;
    background-color: #424242;
    color: #FAFAFA;
    text-align: center;
}


/* UserList */
#UserList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#userPageheader {
    margin-bottom: 40px;
    display: block;
}

.SearchPanel{
    float: left ;
    display: inline;
    margin-bottom: 10px;
}

.PageNavigation{
    display: inline;
    float: right;
    font-size: medium;
    font-weight:bolder;
}

#userPagefooter {
    margin-bottom: 40px;
    display: block;
}

.userThumb_parentDiv {
    display: block;
    background-color: rgb(255, 255, 255);
    /* align-content: center; */
    /* text-align: center; */
    margin: 8px;
    border: 1px;
    max-width: 90px;
    border-style: solid;
    border-radius: 5px;
}

.userThumb_avatar{
    display: block;
    width: 85px;
    height: 85px;
    padding: 3px;
    margin-bottom: 3px;
}

.userThumb_fullName{
    font-size: small;
    font-weight:bold;
    display: inline-block;
    width: 85px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding: 3px;
    text-align: center;
}


/* userMoreInfo */
#userMoreInfo{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.userMoreInfo_parentDiv{
    display: block;
    background-color: rgb(255, 255, 255);
    margin: 8px;
    border: 1px;
    height: 110px;
    width: 300px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}

#userRepoList{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* repository list */
.repositoryInfo_parentDiv{
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 5px;
}

.repositoryInfo_name{
    display: block;
    font-size: large;
    font-weight: 800;
    color: #0D47A1;
    margin-bottom: 5px;
}

.repositoryInfo_description{
    display: block;
    font-size: small;
    color: #424242;
    font-weight: bold;
}


/* RepoList page */
#repositoryPageHeader {
    margin-bottom: 40px;
    display: block;
}